exclude: ^README.md
repos:
  # - repo: https://github.com/mwouts/jupytext
  #   rev: v1.14.5
  #   hooks:
  #   - id: jupytext
  #     files: ipynb
  #     args: [--sync, --pipe, black]
  #     additional_dependencies:
  #       - black==23.3.0
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
    - id: black
      language_version: python3
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-yaml
        exclude: ^mkdocs
      - id: check-added-large-files
        args: ['--maxkb=2000']
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.4.0
    hooks:
      - id: markdownlint-cli2
    # exclude: ^README.md
  - repo: https://github.com/python-poetry/poetry
    rev: '1.5.0'  # add version here
    hooks:
      - id: poetry-check
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "requirements.txt"]
